{% extends 'base.html' %}
{% load static %}
{% static "images" as imageUrl  %}


{% block content %}

    <section style="margin-top:30px;" class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Auction Item Gallery</h2>
                        <span>Details to details is what makes Products different from the other.</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <a href="product-form/" class="btn btn-info pull-right"><i class="fa fa-plus-square" aria-hidden="true"></i>Add Item</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
      {% for product in products %}

                <divk class="col-md-4">
<div class="card" style="width: 18rem;">

  <img src="{{product.img.url}}" class="card-img-top" alt="...">

    {% if product.offer %}
       <h5><span class="badge badge-info" style="width:100%;">Special Offer</span></h5>

    {% endif %}


  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.desc}}</p>
          <p class="card-text">Price: ${{product.price}}</p>

    <a href="single-product.html" class="btn btn-primary">Show Product</a>
  </div>
</div>
                </divk>

                {% endfor %}

                </div>
            </div>
        </div>
    </section>

{% endblock %}

